/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* 전체 페이지 스타일 */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

/* 메뉴와 레이아웃 스타일 */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #000;
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d"; /* 변경된 아이콘 */
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 20;
}

.wrapper ul li {
  margin: 15px 0;
}

.wrapper ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: #202020;
  z-index: -1;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


/* The Goods 스타일 */
.the-goods {
  font-size: 160px;
  text-align: center;
  margin: 60px auto 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Righteous;
  color: white;
  max-width: 1150px;
}

.the-goods span {
  text-shadow: 
    -1px 0 0px #00BFFF, 
    0 1px 0px #1E90FF, 
    -2px 1px 0px #4169E1, 
    -1px 2px 0px #4682B4, 
    -3px 2px 0px #87CEFA, 
    -2px 3px 0px #00BFFF, 
    -4px 3px 0px #1E90FF, 
    -3px 4px 0px #4169E1, 
    -5px 4px 0px #4682B4, 
    -4px 5px 0px #87CEFA, 
    -6px 5px 0px #00BFFF, 
    -5px 6px 15px rgba(0, 0, 0, 0.5); /* Optional dark shadow for depth */
  display: inline-block;
  position: relative;
  padding: 0px 6px;
  transition: 0.8s;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.the-goods:hover {
  cursor: pointer;
}

.the-goods:hover span:nth-child(odd) { 
  transform: rotateX(10deg) rotateY(10deg) rotateZ(-370deg); 
}

.the-goods:hover span:nth-child(even) { 
  transform: rotateX(10deg) rotateY(10deg) rotateZ(370deg);
}

/* Profile 스타일 */
.profile {
  position: relative;
  padding: 40px;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 100px;
  width: 100%;
}

.profileinner {
  position: relative;
  display: inline-block;
}

.profileinner img {
  display: flex;
  width: 500px; /* 이미지가 부모 요소의 너비에 맞게 설정 */
  height: auto; /* 이미지 비율 유지 */
  filter: grayscale(100%); /* 기본적으로 흑백으로 설정 */
  transition: filter 0.5s ease; /* 부드러운 전환을 위해 추가 */
  border-radius: 20px;
}

.profileinner img:hover {
  filter: grayscale(0%); /* 호버 시 흑백 필터 제거 */
}

.imgtext h2 {
  font-size: 160px;
  line-height: 2;
  color: #15B5E2;
}

/* Irregular Text 스타일 */
.irregular-text {
  font-size: 60px;
  text-align: center;
  margin: 60px auto 0;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Righteous', sans-serif;
  color: white;
  max-width: 1150px;
  perspective: 1000px; /* Add perspective for 3D effect */
  transform-style: preserve-3d; /* Add this line */
}

.irregular-text .text-item {
  display: block;
  margin: 20px 0;
}

.irregular-text .span-letter {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  transition: transform 0.8s, text-shadow 0.3s;
  transform-style: preserve-3d; /* Ensure 3D transform is preserved */
}

.irregular-text .item-1 .span-letter {
  text-shadow: 
    -1px 0 0px #00BFFF, 
    0 1px 0px #1E90FF, 
    -2px 1px 0px #4169E1, 
    -1px 2px 0px #4682B4, 
    -3px 2px 0px #87CEFA, 
    -2px 3px 0px #00BFFF, 
    -4px 3px 0px #1E90FF, 
    -3px 4px 0px #4169E1, 
    -5px 4px 0px #4682B4, 
    -4px 5px 0px #87CEFA, 
    -6px 5px 0px #00BFFF, 
    -5px 6px 15px rgba(0, 0, 0, 0.5);
}

.irregular-text .item-2 .span-letter {
  text-shadow: 
    -1px 0 0px #FF6347, 
    0 1px 0px #FF4500, 
    -2px 1px 0px #FF8C00, 
    -1px 2px 0px #FFD700, 
    -3px 2px 0px #FFA07A, 
    -2px 3px 0px #FF6347, 
    -4px 3px 0px #FF4500, 
    -3px 4px 0px #FF8C00, 
    -5px 4px 0px #FFD700, 
    -4px 5px 0px #FFA07A, 
    -6px 5px 0px #FF6347, 
    -5px 6px 15px rgba(0, 0, 0, 0.5);
}

.irregular-text .item-3 .span-letter {
  text-shadow: 
    -1px 0 0px #32CD32, 
    0 1px 0px #228B22, 
    -2px 1px 0px #006400, 
    -1px 2px 0px #7FFF00, 
    -3px 2px 0px #00FF00, 
    -2px 3px 0px #32CD32, 
    -4px 3px 0px #228B22, 
    -3px 4px 0px #006400, 
    -5px 4px 0px #7FFF00, 
    -4px 5px 0px #00FF00, 
    -6px 5px 0px #32CD32, 
    -5px 6px 15px rgba(0, 0, 0, 0.5);
}

.irregular-text:hover .span-letter {
  cursor: pointer;
}

.irregular-text:hover .span-letter:nth-child(odd) { 
  transform: rotateX(10deg) rotateY(10deg) rotateZ(-10deg);
}

.irregular-text:hover .span-letter:nth-child(even) { 
  transform: rotateX(10deg) rotateY(10deg) rotateZ(10deg);
}

/* Modal 스타일 */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #000;
  margin: 15% auto; /* 상단에서 15% 아래에 위치시키고 가운데 정렬 */
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  text-align: center;
  max-width: 700px; /* 필요한 경우 너비 조정 */
  max-height: 80%; /* 모달의 최대 높이 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal 컨텐츠 */
.insoon img {
  width: 100%;
  height: auto; /* 이미지 비율 유지 */
  object-fit: cover; /* 이미지가 모달의 크기에 맞게 조정 */
}
.sklilimg {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.sklilimg > img {
  width: 90px;
  height: 90px;
}
.nametxt {
  display: block;
  align-items: center;
  line-height: 3;
}

.nametxt p {
  font-size: 30px;
  color: #15B5E2;
}

.nametxt > p > span {
  font-size: 40px;
  font-weight: bold;
  color: #15B5E2;
}

/* 버튼 기본 스타일 */
:root {
  --color: #2194E0;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.gradient-button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: var(--color);
  border: 2px solid var(--color);
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.gradient-button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.gradient-button:hover {
  background-color: var(--color);
  color: #fff;
  border-bottom: 4px solid #1971b8; /* darken($color, 10%) 값을 직접 입력 */
}

.gradient-button:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

.gradient-button a {
  color: inherit; /* 링크의 색상을 버튼의 색상과 일치시킴 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

.gradient-button a {
  text-decoration: none;
  color: inherit; /* 버튼 텍스트 색상 상속 */
  display: block;
  height: 100%;
  width: 100%;
  line-height: 100%; /* 버튼의 높이와 맞춰줍니다 */
  text-align: center;
}

/* 반응형 디자인 */
@media (max-width: 1200px) {
  .the-goods {
    font-size: 120px;
  }

  .profileinner img {
    width: 400px;
  }

  .imgtext h2 {
    font-size: 120px;
  }

  .irregular-text {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .iphonetop h2{
    font-size: 50px;
    line-height: 3;
  }
  .menu-btn {
    height: 40px;
    width: 40px;
    font-size: 14px;
  }
  
  #wrapper {
    height: auto; /* Adjust height automatically */
    width: 100%; /* Full width */
    margin: 0; /* Remove margin */
    position: relative; /* Relative positioning */
    top: 0;
    left: 0;
    
  }

  .the-goods {
    font-size: 80px;
  }

  .profile {
    flex-direction: column;
    gap: 20px;
  }

  .profileinner img {
    width: 300px;
  }

  .imgtext h2 {
    font-size: 80px;
  }

  .irregular-text {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .menu-btn {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .wrapper ul li a {
    font-size: 20px;
    padding: 5px 10px;
  }

  .the-goods {
    font-size: 60px;
  }

  .profileinner img {
    width: 250px;
  }

  .imgtext h2 {
    font-size: 60px;
  }

  .irregular-text {
    font-size: 30px;
  }
}